.cardOfCharacter {
   width: 100%;
   height: clamp(150px, 5vw, 175px);
   background: var(--black1);
   border-radius: .5rem;
   border: solid 5px var(--black2);
   overflow: hidden;
   background: #0000002c;
   display: flex;
   justify-content: space-between;
   align-items: center;

   box-shadow: inset 0 0 20px 0 var(--black2);
   animation: slideIn 0.7s ease-out; 
}

.cardOfCharacter img{
   width: 45%;
   height: 100%;
   border-radius: .5rem;
   z-index: -1;
}
.cardOfCharacter div {
   display: flex;
   justify-content: space-between;
   align-items: center;
   flex-direction: column;
   gap: .3rem;
   width: 55%;
   padding: .5rem;
   text-align: center;
   font-size: .6rem;
}
.cardOfCharacter div span{
   border: solid 1px;
   padding: .3rem 0;
   border-radius: .2rem;
   width: 100%;
   background: rgba(0, 0, 0, 0.178);

}

@media (min-width: 768px) and (max-width: 1024px) {
  #cardOfCharacter{
   flex-direction: column-reverse;
  }
}

@keyframes slideIn {
  from { opacity: 0; transform: translateY(20px); }
  to { opacity: 1; transform: translateY(0); }
}
