.cardOfCharacter {
   width: 100%;
   height: 175px;
   background: var(--black1);
   border-radius: .5rem;
   overflow: hidden;

   display: flex;
   justify-content: space-between;
   align-items: center;

   font-size: 1.3rem;

}

.cardOfCharacter img{
   width: 45%;
   height: 100%;
}
.cardOfCharacter div {
   display: grid;
   grid-template-columns: repeat(3, 1fr); /* Cria 3 colunas iguais */
   align-items: center;
   gap: .3rem;
   width: 55%;
   height: 75%;
   padding: .5rem;
   text-align: center;
   font-size: clamp(.6rem, 1vw, .7rem);

}
.cardOfCharacter div span{
   border: solid 1px;
   padding: .3rem 0;
   border-radius: .2rem;

}

/* Nome e ID ocupam o topo; Origem ocupa a base inteira */
.cardOfCharacter span:nth-child(1) { grid-column: span 2;  } 
.cardOfCharacter span:nth-child(6) { grid-column: span 3;  }

@media (min-width: 768px) and (max-width: 1024px) {
  #cardOfCharacter{
   flex-direction: column-reverse;
  }
}
