.componentSearchCharacter {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 2rem 1fr;
  grid-column-gap: 0px;
  grid-row-gap: 0.5rem;
  overflow: hidden; /* Corta o que sobrar para o scroll interno funcionar */
  height: 100%;    /* Ocupa o 1fr disponível no menu */
  grid-area: 1 / 1 / 2 / 2; 
}

.input-wrapper {
  position: relative; /* O detalhe azul se baseará aqui */
  grid-area: 1 / 1 / 2 / 2;
  width: 100%;
  height: 2rem;
}

.input-wrapper::before {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 0.5rem;
  height: 100%;
  background: var(--blue);
  box-shadow: 0 0 10px var(--blue), 0 0 20px var(--blue);
  border-radius: 0.3rem 0 0 0.3rem;
  z-index: 1; /* Garante que fique acima do fundo do input */
}

#inputSearchCharacter {
  width: 100%;
  height: 100%;
  padding-left: 1.5rem; /* Aumente o padding para o texto não bater no azul */
  border-radius: 0.3rem;
  border: none;
  background: var(--backgroundLinear);
}
.divResultSearch {
  grid-area: 2 / 1 / 3 / 2;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(175px, 1fr));
  gap: 0.4rem;
  overflow-y: auto;  
  overflow-x: hidden;
  min-height: 0;     /* TRUQUE DO GRID: permite que a div encolha e ative o scroll */
}