.secLoading {
  font-size: 1.3rem;
  display: flex;
  place-content: center;
  align-items: center;
  gap: 5px;
}

.secLoading span {
  display: inline-block;
  animation: pulse 1.3s linear infinite;
  animation-delay: calc(var(--i) * 0.1s);
  width: 0.7rem;
  height: 2rem;
  background-color: var(--white);
  border-radius: 0.3rem;
  opacity: 0.5;
}

@keyframes pulse {
  0% {
    transform: scale(1);
    color: var(--white);
  }
  25% {
    transform: scale(1.4);
    background-color: var(--blue);
    opacity: 1;
  }
  50%,
  100% {
    transform: scale(1);
    color: var(--white);
  }
}

.secMessagerError {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 0.7rem;
}

.secMessagerError div {
  width: 100%;
  border-radius: 0.5rem;
  background: #0000003e;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0.6rem;
}

.secMessagerError div img {width: 2.2rem;}