@import url("https://fonts.googleapis.com/css2?family=Sansation:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap");
@import url(styles/card.css);
@import url(styles/searchCharacter.css);
@import url(styles/loading&MessageError.css);

:root {
  --blue: #08b1c9;
  --blue2: #202f67;
  --blue3: #1c2547;
  --backgroundLinear: linear-gradient(50deg, #141414 0%, #3c3d41);

  --black1: #2b2c2e;
  --black2: #3c3d41;
  --white: #f9f9f9;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
  color: var(--white);
  border: none;
  outline: none;
}

*::-webkit-scrollbar {
  overflow: visible;
  width: 0px;
  background-color: transparent;
}

body {
  font-family: "Geo", sans-serif;
  margin: 0;
  min-height: 100vh;
  position: relative;
  background: var(--backgroundLinear);
}

body::before {
  content: "";
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1; 
  background: url("image/backgroun-main.png") no-repeat center;
  background-size: cover;
  opacity: 0.5;
  filter: blur(10px);
}

header {
  height: 4rem;
  max-width: 1000px;
  margin: 0 auto;
  padding: 0.2rem 0.5rem;
  border-radius: 0.5rem;
  background: #0000003e;

  display: flex;
  justify-content: space-between;
  align-items: center;

  position: fixed;
  top: 0;
  left: 0;
  right: 0;

  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
}

header a img {
  grid-area: 1 / 1 / 2 / 2;
  width: 8rem;
}

.lblCallMenu {
  background: url(image/icon-menu.png);
  background-size: cover;
  width: 3rem;
  height: 3rem;
  cursor: pointer;
}

.lblCallMenu input {
  display: none;
}
body.menu-open {
  overflow: hidden;
}

#sectionMenu {
  width: 75%;
  height: 100dvh;
  position: fixed;
  top: 0;
  left: -75%;
  z-index: 100;

  border-right: solid 5px var(--black2);
  overflow: hidden;

  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);

  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 32px;
  gap: 0.5rem;
  padding: 0.5rem;

  transition: left 0.3s ease-in-out;
}

#sectionMenu.open {
  left: 0;
  opacity: 1;
}

#sectionMenu::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;

  background: url(image/image-menu.png) no-repeat center;
  background-size: cover;

  filter: blur(5px);
  opacity: 0.6;
  scale: 1.1;
}

.divCodeRepository {
  background: var(--black2);
  border-radius: 0.3rem;
  position: relative;
  padding-left: 1rem;
  display: flex;
  place-items: center;
  background: var(--backgroundLinear);
  grid-area: 2 / 1 / 3 / 2;
}

.divCodeRepository:before {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 0.5rem;
  height: 100%;
  background: var(--blue);
  box-shadow: 0 0 10px var(--blue), 0 0 20px var(--blue);
  border-radius: 0.3rem 0 0 0.3rem;
}

#sectionMenu a {
  width: 100%;
  font-size: clamp(0.8rem, 1vw, 0.9rem);
}

#secScrollInfinit {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(1fr, 1fr));
  max-width: 400px;
  margin: 65px auto 0;
  padding: 0.5rem;
  gap: 0.4rem;
}

@media (max-width: 932px) and (orientation: landscape) {
  #secScrollInfinit {
    grid-template-columns: repeat(2, 1fr);
    grid-auto-rows: auto;
    max-width: 700px;
  }
  #sectionMenu {
    width: 350px;
  }
}

@media (min-width: 768px) and (max-width: 1024px) {
  #secScrollInfinit {
    grid-template-columns: repeat(2, 1fr);
    max-width: 750px;
  }
  #sectionMenu {
    width: 325px;
  }
}

@media (min-width: 1025px) {
  #secScrollInfinit {
    grid-template-columns: repeat(3, 1fr);
    grid-auto-rows: auto;
    max-width: 1000px;
  }
  #sectionMenu {
    width: 325px;
  }
}